@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  background: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "YouTube Sans","Roboto","Arial",sans-serif;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

:root {
  --header-height: 60px;
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #707070;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .4);
  padding: 0 .5rem;
  height: var(--header-height);
  z-index: 10;
}

.header .menu{
  position: fixed;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  background: #212121;
  padding: 0 14px;
  box-sizing: border-box;
  z-index: 99;
}

.header .menu .nav{
  position: absolute;
  width: 100%;
  height: 60px;
}

.header .menu .nav img{
  position: absolute;
  width: 100px;
  height: 60px;
}

.header .menu .nav i{
  color: #fff;
  display: inline-block;
}

.header .menu .nav .logo-name{
  position: absolute;
  color: #fff;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  left: 7%;
}

.menu-icon-btn {
  background: none;
  border: none;
  padding: 0;
}

.menu .nav .menu-icon-btn i {
  color: #fff;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  display: inline-block;
}

.header .menu .nav .search {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header .menu .nav .search .search-bar{
  position: relative; 
  height: 35px;
  min-width: 560px;
  font-size: 15px;
  top: 20%;
  transform: translateY(-10%);
  background-color: hsl(0deg 0% 7%);
  border: 1px solid hsl(0deg 0% 19%);
  padding: 10px;
  color: #fff;
}

.header .menu .nav .search .search-btn {
  color: #fff;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  background-color: #212121;
  border: none;
}

.header .menu .nav .icon {
  position: absolute;
  display: inline-block;
  right: 3%;
  z-index: 10;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 150px;
}

.header .menu .nav .icon > * {
  margin: 15px;
}

.header .menu .nav .icon a {
  text-decoration: none;
}

.header .menu .nav .icon .icon-cam {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 15px 10px;
}

.header .menu .nav .icon .icon-cam a {
  display: block;
  width: 100%;
  height: 100%;
}

.header .menu .nav .icon .icon-cam a i {
  font-size: 28px;
  color: #fff;
  text-align: center;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.header .menu .nav .icon .dropdown {
  position: relative;
  display: inline-block;
}

.header .menu .nav .icon .dropdown .link i {
  font-size: 28px;
  color: #fff;
  text-align: center;
}

.header .menu .nav .icon .dropdown .dropdown-menu {
  position: absolute;
  left:auto;
  right:0;
  margin-right: 15px;
  background-color: #212121;
  padding: .75rem;
  border: 1px solid #707070;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.header .menu .nav .icon .dropdown .dropdown-menu a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    pointer-events: auto;
}

.header .menu .nav .icon .dropdown .dropdown-menu a:hover{
    background-color: #777;
}

.header .menu .nav .icon .dropdown > .link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header .menu .nav .icon .dropdown .dropdown-menu .dropdown-link {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.header .menu .nav .icon .user-profile {
    position: inherit;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 15px 10px;
    border: 1px solid #3ea6ff;
}

.header .menu .nav .icon .user-profile a {
    display: block;
    width: 100%;
    height: 100%;
}

.header .menu .nav .icon .user-profile a .profile {
    display: inline-block;
    width: 56px;
    height: 28px;
}

.header .menu .nav .icon .user-profile a .profile p {
    line-height: 30px;
    font-size: 15px;
    color: #3ea6ff;
}

.sidebar {
  flex-shrink: 0;
  overflow: hidden;
  width: 75px;
  border-right: 1px solid hsl(0deg 0% 19%);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  padding-top: 1rem;
  align-items: center;
  justify-content: stretch;
  transition: width var(--animation-duration) var(--animation-timing-curve);
  position: sticky;
  left: 0;
  top: var(--header-height);
  background-color: #212121;
}

.sidebar .hidden-sidebar {
  opacity: 0;
  width: 0;
  transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar {
  width: 100%;
  height: auto;
  opacity: 1;
}

.sidebar.open .close-text{
  opacity: 0;
  width: 0;
}

.midsidebar {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  margin: 1rem 0;
}

.container {
  display: flex;
}

.container aside{
  display: flex;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.sidebar.open .sidebar-link {
  justify-content: flex-start;
}

.sidebar-list .hidden-sidebar {
  margin-left: 1.5rem;
  white-space: nowrap;
  color: #fff;
  align-items: center;
}

.sidebar-link {
  display: flex;
  width: 100%;
  padding: .5rem 0;
  color: #fff;
  text-decoration: none;
  align-items: center;
  padding-left: 25px;
}

.sidebar-link i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.hidden-sidebar{
  display: flex;
  width: 100%;
  padding: .5rem 0;
  color: #fff;
  text-decoration: none;
  align-items: center;
}

.hidden-sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.hidden-sidebars{
  margin-left: 24px;
  padding: 8px 0px;
  height: 41px;
  width: 116.95px;
}

.sidebar-list-item {
  position: relative;
  width: 100%;
  fill: #212121;
}

.sidebar-list-item.active {
  fill: var(--accent-color);
  background-color: #212121;
}

.sidebar-list-item:hover {
  background-color: #383838;
}

.sidebar-list-item.active::before {
  content: "";
  background-color: var(--accent-color);
  height: 100%;
  left: 0;
  width: 3px;
  position: absolute;
}

.sidebar.open {
  width: 240px;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.content .box1 {
  width: 100%;
  height: 110px;
  background: #181818;
}

.content .box1 .head-content {
  height: 80px;
  display: inline-block;
  margin-left: 10%;
  margin-top: 15px;
}

.content .box1 .head-content .profile-box {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.content .box1 .head-content .profile-box .profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.content .box1 .head-content .profile-box .profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.content .box1 .head-content .detail {
  display: inline-block;
  width: 500px;
  height: 80px;
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
}

.content .box1 .head-content .detail h1 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

.content .box1 .head-content .detail p {
  font-size: 15px;
  font-weight: 200;
  color: #aaaaaa;
}

.content .box1 .head-content .option {
  position: relative;
  display: inline-block;
  height: 80px;
  padding-left: 800px;
  top: -30px;
}

.content .box1 .head-content .option > *{
  display: inline-block;
  border-radius: 2px;
  background-color: #3ea6ff;
  padding: 5px 16px;
}

.content .box1 .head-content .option a {
  text-decoration: none;
  color: #181818;
  font-size: 15px;
  font-weight: 500;
}

.content .box2 {
  width: 100%;
  height: 50px;
  background: #181818;
  padding-left: 10%;
}

.content .middle-content {
  display: inline-block;
  height: 100%;
  margin-left: 10px;
}

.content .middle-content input {
  width: 100px;
  height: 50px;
  background-color: #181818;
  border: none;
  color: #aaa;
  font-size: 18px;
  cursor: pointer;
}

.content .middle-content .mcoption{
  line-height: 50px;
}

.content .middle-content .mcoption.active {
  border-bottom: 3px solid #3ea6ff;
  background-color: #212121;
}

.content .middle-content .mcoption.active{
  color: #3ea6ff;
}

.content .middle-content .mcoption:hover {
  background: #383838;
}

.video-box {
  max-height: 800px;
  overflow: hidden;
  margin: 20px 0 0 20px;
}

.playlist-box {
  max-height: 400px;
  overflow: hidden;
  margin: 20px 0 0 20px;
}

.video-box .title a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.playlist-box .title a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.btext h3 {
  color: #aaa;
  font-weight: 400;
  font-size: 18px;
}

.content .video-container {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-gap: 20px 15px;
  overflow-x: hidden;
}

.video {
  min-height: 200px;
  height: auto;
  width: 225px;
}

.thumbnail img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  cursor: pointer;
}

.contents {
  width: 100%;
  height: 125px;
  padding: 10px;
  display: flex; 
}

.channel-icon{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.channel-icon img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.info .title {
  width: 225px;
  height: auto;
  max-height: 60px;
  overflow: hidden;
}

.info .title a {
  text-decoration: none;
}

.info .title h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 525;
}

.channel-name form{
  margin: 2px 0;
}

.channel-name form input{
  color: #aaa;
  border: none;
  background-color: transparent;
}

.channel-name form input:hover {
  color: #fff;
  cursor: pointer;
}

.channel-name #h3 {
  font-size: 15px;
  font-weight: 400;
}

.count a{
  font-size: 14px;
  margin: 2px 0;
  color: #aaa;
  text-decoration: none;
}

.count h3 {
  font-size: 15px;
  font-weight: 400;
}