@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  background: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "YouTube Sans","Roboto","Arial",sans-serif;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

:root {
  --header-height: 60px;
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #707070;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .4);
  padding: 0 .5rem;
  height: var(--header-height);
  z-index: 10;
}

.header .menu{
  position: fixed;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  background: #212121;
  padding: 0 14px;
  box-sizing: border-box;
  z-index: 99;
}

.header .menu .nav{
  position: absolute;
  width: 100%;
  height: 60px;
}

.header .menu .nav img{
  position: absolute;
  width: 100px;
  height: 60px;
}

.header .menu .nav i{
  color: #fff;
  display: inline-block;
}

.header .menu .nav .logo-name{
  position: absolute;
  color: #fff;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  left: 7%;
}

.menu-icon-btn {
  background: none;
  border: none;
  padding: 0;
}

.menu .nav .menu-icon-btn i {
  color: #fff;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  display: inline-block;
}

.header .menu .nav .search {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header .menu .nav .search .search-bar{
  position: relative; 
  height: 35px;
  min-width: 560px;
  font-size: 15px;
  top: 20%;
  transform: translateY(-10%);
  background-color: hsl(0deg 0% 7%);
  border: 1px solid hsl(0deg 0% 19%);
  padding: 10px;
  color: #fff;
}

.header .menu .nav .search .search-btn {
  color: #fff;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  background-color: #212121;
  border: none;
}

.header .menu .nav .icon {
  position: absolute;
  display: inline-block;
  right: 2%;
  z-index: 10;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 200px;
}

.header .menu .nav .icon a {
  text-decoration: none;
}

.header .menu .nav .icon .icon-cam {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 15px 10px;
}

.header .menu .nav .icon .icon-cam a {
  display: block;
  width: 100%;
  height: 100%;
}

.header .menu .nav .icon .icon-cam a i {
  font-size: 28px;
  color: #fff;
  text-align: center;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.header .menu .nav .icon .dropdown {
  position: relative;
  display: inline-block;
  padding: 0 15px;
}

.header .menu .nav .icon .dropdown .link i {
  font-size: 28px;
  color: #fff;
  text-align: center;
}

.header .menu .nav .icon .dropdown .dropdown-menu {
  position: absolute;
  left:auto;
  right:0;
  margin-right: 15px;
  background-color: #212121;
  padding: .75rem;
  border: 1px solid #707070;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.header .menu .nav .icon .dropdown .dropdown-menu a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    pointer-events: auto;
}

.header .menu .nav .icon .dropdown .dropdown-menu a:hover{
    background-color: #777;
}

.header .menu .nav .icon .dropdown > .link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header .menu .nav .icon .dropdown .dropdown-menu .dropdown-link {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.header .menu .nav .icon .user-profile {
  position: absolute;
  display: inline-block;
  height: 35px;
  height: 35px;
  margin: 15px 10px;
}

.header .menu .nav .icon .user-profile .profile {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.header .menu .nav .icon .user-profile .profile img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.header .menu .nav .icon .user-profile .dropdown-menu {
  position: absolute;
  width: 120px;
  left: auto;
  right:0;
  background-color: #212121;
  padding: .75rem ;
  border: 1px solid #707070;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  cursor: default;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.header .menu .nav .icon .user-profile .dropdown-menu a {
  display: block;
  width: 100px;
  height: 100%;
  color: #fff;
  pointer-events: auto;
}

.header .menu .nav .icon .user-profile .dropdown-menu a:hover{
  background-color: #777;
} 

.header .menu .nav .icon .user-profile .dropdown-menu input {
  background-color: transparent;
  border: none;
  width: 100px;
  height: 100%;
  font-size: 18px;
  color: #fff;
  pointer-events: auto;
}

.header .menu .nav .icon .user-profile .dropdown-menu input:hover{
  background-color: #777;
}
  
.header .menu .nav .icon .user-profile > .link:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
  
.header .menu .nav .icon .user-profile .dropdown-menu .dropdown-link {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.sidebar {
  flex-shrink: 0;
  overflow: hidden;
  width: 75px;
  border-right: 1px solid hsl(0deg 0% 19%);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  padding-top: 1rem;
  align-items: center;
  justify-content: stretch;
  transition: width var(--animation-duration) var(--animation-timing-curve);
  position: sticky;
  left: 0;
  top: var(--header-height);
  background-color: #212121;
}

.sidebar .hidden-sidebar {
  opacity: 0;
  width: 0;
  transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .hidden-sidebar {
  width: 100%;
  height: auto;
  opacity: 1;
}

.sidebar.open .close-text{
  opacity: 0;
  width: 0;
}

.midsidebar {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  margin: 1rem 0;
}

.container {
  display: flex;
}

.container aside{
  display: flex;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.sidebar.open .sidebar-link {
  justify-content: flex-start;
}

.sidebar-list .hidden-sidebar {
  margin-left: 1.5rem;
  white-space: nowrap;
  color: #fff;
  align-items: center;
}

.sidebar-link {
  display: flex;
  width: 100%;
  padding: .5rem 0;
  color: #fff;
  text-decoration: none;
  align-items: center;
  padding-left: 25px;
}

.sidebar-link i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.hidden-sidebar{
  display: flex;
  width: 100%;
  padding: .5rem 0;
  color: #fff;
  text-decoration: none;
  align-items: center;
}

.hidden-sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.hidden-sidebars{
  margin-left: 24px;
  padding: 8px 0px;
  height: 41px;
  width: 116.95px;
}

.sidebar-list-item {
  position: relative;
  width: 100%;
  fill: #212121;
}

.sidebar-list-item.active {
  fill: var(--accent-color);
  background-color: #212121;
}

.sidebar-list-item:hover {
  background-color: #383838;
}

.sidebar-list-item.active::before {
  content: "";
  background-color: var(--accent-color);
  height: 100%;
  left: 0;
  width: 3px;
  position: absolute;
}

.sidebar.open {
  width: 240px;
}

.content {
  position: relative;
  display: block;
  width: 100%;
}

.content .contentbox {
    display: block;
    width: 100%;
    height: 100%;
}

.content .contentbox .sidebox {
    display: inline-block;
    width: 360px;
    height: 100%;
    background-color: #181818;
    padding: 24px;
}

.content .contentbox .sidebox .topsideboxs {
  width: 100%;
}

.content .contentbox .sidebox .topsideboxs .imgwatchs {
  width: 312px;
  height: 174.56px;
  background-color: #0f0f0f;
}

.content .contentbox .sidebox .topsideboxs .imgwatchs img {
  width: 100%;
  height: 100%;
}

.content .contentbox .sidebox .topsideboxs .titles {
  width: 100%;
  margin-top: 24px;
}

.content .contentbox .sidebox .bottomsidebars {
  width: 100%;
  height: auto;
  display: block;
}

.content .contentbox .sidebox .bottomsidebars .imgpros {
  display: inline-block;
}

.content .contentbox .sidebox .bottomsidebars .imgpros img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.content .contentbox .sidebox .bottomsidebars .chnames {
  display: inline-block;
  margin-left: 12px;
  transform: translateY(-100%);
}

.content .contentbox .sidebox .bottomsidebars .chnames input {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.content .contentbox .sidebox .bottomsidebars .chnames input:hover {
  cursor: pointer;
}

.content .contentbox .sidebox .topsideboxs .titles p {
  color: #fff;
  font-size: 24px;
}

.content .contentbox .sidebox .topsidebox {
    width: 100%;
}

.content .contentbox .sidebox .topsidebox .imgwatch {
    width: 312px;
    height: 174.56px;
}

.content .contentbox .sidebox .topsidebox .imgwatch img {
    width: 100%;
    height: 100%;
}

.content .contentbox .sidebox .topsidebox .imgwatch .p {
    position: absolute;
    width: 312px;
    height: 40px;
    top: 169px;
    background-color: rgba(0, 0, 0, 0.7);
}

.content .contentbox .sidebox .topsidebox .imgwatch .p p {
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.content .contentbox .sidebox .topsidebox .title {
    width: 100%;
    margin-top: 24px;
}

.content .contentbox .sidebox .topsidebox .title p {
    color: #fff;
    font-size: 24px;
}

.content .contentbox .sidebox .hr1 {
    margin: 18px 0;
    border: 0.1px solid #707070;
}

.content .contentbox .sidebox .bottomsidebar {
    width: 100%;
    height: auto;
    display: block;
}

.content .contentbox .sidebox .bottomsidebar .imgpro {
    display: inline-block;
}

.content .contentbox .sidebox .bottomsidebar .imgpro img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content .contentbox .sidebox .bottomsidebar .chname {
    display: inline-block;
    margin-left: 12px;
    transform: translateY(-100%);
}

.content .contentbox .sidebox .bottomsidebar .chname input {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.content .contentbox .sidebox .bottomsidebar .chname input:hover {
    cursor: pointer;
}

.content .contentbox .sortbox {
    position: absolute;
    display: inline-block;
    width: 1250px;
}

.content .contentbox .sortbox .sort {
    display: block;
    width: 100%;
    padding: 16px 0 8px 36px;
}

.content .contentbox .sortbox .sort .sortlogo {
    display: inline-block;
    font-size: 20px;
    color: #fff;
}

.content .contentbox .sortbox .sort .sortname {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    transform: translateY(-15%);
}

.content .contentbox .sortbox .listvideo {
    display: block;
    width: 100%;
    padding-left: 36px;
}

.content .contentbox .sortbox .listvideo .sidevideo {
    display: block;
    height: 100px;
    padding: 16px 0;
}

.content .contentbox .sortbox .listvideo .sidevideo:hover {
    background-color: #212121;
}

.content .contentbox .sortbox .listvideo .sidevideo a {
    display: inline-block;
    width: 120px;
    height: 67.14px;
}

.content .contentbox .sortbox .listvideo .sidevideo a img {
    width: 100%;
    height: 100%;
}

.content .contentbox .sortbox .listvideo .sidevideo .vid {
    display: inline-block;
    height: 68px;
}

.content .contentbox .sortbox .listvideo .sidevideo .vid .title {
    width: 1000px;
    overflow: hidden;
    margin-left: 10px;
}

.content .contentbox .sortbox .listvideo .sidevideo .vid .title a {
    width: auto;
    height: auto;
    text-decoration: none;
}

.content .contentbox .sortbox .listvideo .sidevideo .vid .title a h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 525;
}

.content .contentbox .sortbox .listvideo .sidevideo .vid .channel-name {
    width: 1000px;
    overflow: hidden;
    margin-left: 10px;
}

.content .contentbox .sortbox .listvideo .sidevideo .vid .channel-name a {
    width: auto;
    height: auto;
    margin: 10px 0;
    text-decoration: none;
}

.content .contentbox .sortbox .listvideo .sidevideo .vid .channel-name a h3 {
    color: #aaa;
    font-size: 12px;
    font-weight: 525;
}

.content .contentbox .sortbox .listvideo .sidevideo .edit {
    display: inline-block;
}

.content .contentbox .sortbox .listvideo .sidevideo .edit .text {
  color: #fff;
}

.listvideo #lre {
  border: none;
  border-radius: 3px;
  background-color: red;
  padding: 2px 5px 2px 5px;
  color: #0f0f0f;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}